body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #90d6f4;
}

.title {
    font-family: "Permanent Marker", cursive;
    font-size: 2.5em;
    color: #373636;
    margin: 20px 0; /* Space around the title */
    text-align: center;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    padding: 50px;
    background-color: #ffffff;
}

textarea {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: scroll;
    resize: none;
    box-sizing: border-box;
}

textarea:focus {
    border-color: #686969; /* Change border color when focused */
    box-shadow: 0 2px 10px rgba(115, 244, 179, 0.629); /* Add stronger shadow with green hue */
    outline: none; /* Remove the default outline */
    background-color: #f0f9f0; /* Optional: slight background color change */
}

#timerContainer {
    width: 100%;
    height: 41px;
    background-color: #ddd;
    border-radius: 20px;
    margin: 10px 0;
    position: relative;
}

#timerBar {
    height: 100%;
    width: 0; /* Initial width is 0 */
    background-color: #01af58;
    border-radius: 21px;
    transition: width 1s linear, background-color 1s linear;
    z-index: 2;
}

#snakeHead {
    position: absolute;
    width: 56px; /* width of the snake head image */
    height: 56px; /* height of the snake head image */
    background-image: url('../img/snake-head.png'); /* path to your snake head image */
    background-size: cover;
    background-position: center;
    transform: translateY(-50%); /* centers it vertically */
    top: 20px;
    z-index: 5; /* ensure it stays above the bar */
}

#apple {
    position: absolute;
    width: 40px; 
    height: 40px;
    background-image: url('../img/apple.png'); 
    background-size: cover;
    background-position: center;
    top: 48%; 
    right: 0;
    transform: translateY(-50%); 
    z-index: 1;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #f7f391;
    color: black;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #f8f247;   /* Black background on hover */
    color: black;              /* White text on hover */
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
