body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
}

textarea {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
}

#timerContainer {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 10px 0;
    position: relative;
}

#timerBar {
    height: 100%;
    width: 0; /* Initial width is 0 */
    background-color: green;
    border-radius: 10px;
    transition: width 1s linear, background-color 1s linear;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin: 5px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
